{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart_detail.css' %}">
    {% if request.session.cart.items %}
            <div class="form-inline">
                    <h5 class="total">Total: {{ cart_total_amount }}</h5>
        <a href="{% url 'cart_clear' %}" class="btn btn-light">Clear Cart</a>
        <a href="{% url 'to_checkout' %}" class="btn btn-light">To Pay</a>
            </div>
        {% for key,value in request.session.cart.items %}
                <div class="card">
                <img src="{{ value.image }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5>Price: {{value.price}}</h5>
                        <h5>Amount: {{value.quantity}}</h5>
                    <div class="buttons">
                        <a href="{% url 'item_increment' value.product_id %}" class="btn btn-dark">+1</a>
                        {% if value.quantity > 1 %}
                            <a href="{% url 'item_decrement' value.product_id %}" class="btn btn-dark">-1</a>
                        {% endif %}
                        <a href="{% url 'item_remove' value.product_id %}" class="btn btn-dark">remove</a>
                    </div>
                    </div>
                </div>
        {% endfor %}
    {% else %}
        <h1>Cart is empty</h1>
    {% endif %}
{% endblock %}