{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <div class="card">
  <img src="{{ card.image.url }}" class="card-img-top" alt="" >
  <div class="card-body">
  <h5 class="card-hero-class">Hero Class: {{ card.get_hero_class_display }}</h5>
      <h5 class="card-set">Set: {{ card.get_card_set_display }}</h5>
    <h5 class="card-price">Price: {{ card.price }}</h5>
      {% if card.in_stock == 0 %}
          <h5>Not in stock</h5>
      {% else %}
          <a href="{% url 'cart_add' card.id %}" class="btn btn-dark">Add To Cart</a>
      {% endif %}
    </div>
    </div>


    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
            <a href="{{ card.get_edit_url }}" class="btn btn-primary">Edit</a>
            <a href="{{ card.get_delete_url }}" class="btn btn-primary">Delete</a>
        {% endif %}
    {% endif %}

{% endblock %}