.buttons {
    margin-left: 24%;
}
.form-inline {
    background-color: rgba(245, 173, 49, 0.7);
}

.btn-light {
    margin-left: 20px;
}
.total {
    margin-left: 35%;
}
.empty-cart-logo {
    width: 600px;
    height: 500px;
    margin-left: 30%;
    margin-top: 50px;
    background-color: rgba(245, 173, 49, 0.7);
    border-radius: 10px 10px 10px 10px;
}